<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avm | Dashboard</title>
    <link rel="stylesheet" href="css/docs.css" />
    <script src="js/docs.js" defer></script>
    <link rel="shortcut icon" href="assets/AVM-Logo.png" type="image" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
  </head>
  <body>
    <body>
      <nav>
        <div class="logo-name">
          <div class="logo-image">
            <img src="assets/AVM-Logo.png" alt="" />
          </div>

          <span class="logo_name">AVM</span>
        </div>

        <div class="menu-items">
          <ul class="nav-links">
            <li>
              <a href="#dashboard">
                <i class="uil uil-estate"></i>
                <span class="link-name">Dahsboard</span>
              </a>
            </li>
            <li>
              <a href="#downloader">
                <i class="uil uil-download-alt"></i>
                <span class="link-name">Downloader</span>
              </a>
            </li>
            <li>
              <a href="#information">
                <i class="uil uil-info"></i>
                <span class="link-name">Information</span>
              </a>
            </li>
            <li>
              <a href="#nsfw">
                <i class="uil uil-18-plus"></i>
                <span class="link-name">Nsfw</span>
              </a>
            </li>
            <li>
              <a href="#canvas">
                <i class="uil uil-paint-tool"></i>
                <span class="link-name">Canvas</span>
              </a>
            </li>
            <li>
              <a href="#textmaker">
                <i class="uil uil-text"></i>
                <span class="link-name">Text Maker</span>
              </a>
            </li>
            <li>
              <a href="#randomimage">
                <i class="uil uil-image"></i>
                <span class="link-name">Random Image</span>
              </a>
            </li>
            <li>
              <a href="#randomvideo">
                <i class="uil uil-video"></i>
                <span class="link-name">Random Video</span>
              </a>
            </li>
          </ul>

          <ul class="logout-mode">
            <li>
              <a href="#">
                <i class="uil uil-github"></i>
                <span class="link-name">Source Code</span>
              </a>
            </li>

            <li class="mode">
              <a href="#">
                <i class="uil uil-moon"></i>
                <span class="link-name">Dark Mode</span>
              </a>

              <div class="mode-toggle">
                <span class="switch"></span>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <section class="dashboard">
        <div class="top">
          <i class="uil uil-bars sidebar-toggle"></i>

          <div class="search-box">
            <!-- <p class="nama">Tes</p> -->
          </div>

          <img
            src="https://avatars.githubusercontent.com/u/99073766?v=4"
            alt="dika"
          />
        </div>

        <div class="dash-content" id="dashboard">
          <div class="overview">
            <div class="title">
              <i class="uil uil-tachometer-fast-alt"></i>
              <span class="text">Dashboard</span>
            </div>

            <div class="boxes">
              <div class="box box1">
                <i class="uil uil-eye"></i>
                <span class="text">Visited</span>
                <span class="number" id="visitor">Loading....</span>
              </div>
              <div class="box box2">
                <i class="uil uil-comments"></i>
                <span class="text">Comments</span>
                <span class="number">20,120</span>
              </div>
              <div class="box box3">
                <i class="uil uil-share"></i>
                <span class="text">Total Share</span>
                <span class="number">10,120</span>
              </div>
            </div>
          </div>

          <div class="activity" id="downloader">
            <div class="title">
              <i class="uil uil-download-alt"></i>
              <span class="text">Downloader</span>
            </div>

            <div class="activity-data">
              <div class="data names">
                <span class="data-title">Name</span>
                <span class="data-list">Ytmp3</span>
                <span class="data-list">Ytmp4</span>
                <span class="data-list">Ytmp4 v2</span>
                <span class="data-list">Play</span>
                <span class="data-list">Play mp4</span>
                <span class="data-list">Tiktok</span>
                <span class="data-list">Tiktok v2</span>
                <span class="data-list">Facebook</span>
                <span class="data-list">instagram</span>
                <span class="data-list">instagram v2</span>
                <span class="data-list">instagram v3</span>
                <span class="data-list">savefrom</span>
                <span class="data-list">mediafire</span>
              </div>
              <div class="data path">
                <span class="data-title">Path</span>
                <span class="data-list">api/download/ytmp3</span>
                <span class="data-list">api/download/ytmp4</span>
                <span class="data-list">api/download/ytmp4-2</span>
                <span class="data-list">api/download/play</span>
                <span class="data-list">api/download/playmp4</span>
                <span class="data-list">api/download/tiktok</span>
                <span class="data-list">api/download/tiktok2</span>
                <span class="data-list">api/download/fb</span>
                <span class="data-list">api/download/ig</span>
                <span class="data-list">api/download/ig2</span>
                <span class="data-list">api/download/ig3</span>
                <span class="data-list">api/download/savefrom</span>
                <span class="data-list">api/download/mediafire</span>
              </div>
              <div class="data Added">
                <span class="data-title">Method</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
              </div>
              <div class="data action">
                <span class="data-title">Action</span>
                <span class="data-list"
                  ><a
                    href="api/download/ytmp3?url=https://www.youtube.com/watch?v=hvL-2TF9bLY&list=RDMM2PRvp-mP_q0&index=15"
                    ><i class="uil uil-play"></i> Go to
                  </a></span
                >
                <span class="data-list"
                  ><a
                    href="api/download/ytmp4?url=https://www.youtube.com/watch?v=hvL-2TF9bLY&list=RDMM2PRvp-mP_q0&index=15"
                    ><i class="uil uil-play"></i> Go to
                  </a></span
                >
                <span class="data-list"
                  ><a
                    href="api/download/ytmp4-2?url=https://www.youtube.com/watch?v=hvL-2TF9bLY&list=RDMM2PRvp-mP_q0&index=15"
                    ><i class="uil uil-play"></i> Go to
                  </a></span
                >
                <span class="data-list"
                  ><a href="api/download/play?q=lost kitten"
                    ><i class="uil uil-play"></i> Go to
                  </a></span
                >
                <span class="data-list"
                  ><a href="api/download/playmp4?q=lost kitten"
                    ><i class="uil uil-play"></i> Go to
                  </a></span
                >
                <span class="data-list"
                  ><a
                    href="api/download/tiktok?url=https://vm.tiktok.com/ZSJcLPNpe"
                    ><i class="uil uil-play"></i> Go to
                  </a></span
                >
                <span class="data-list"
                  ><a
                    href="api/download/tiktok2?url=https://vm.tiktok.com/ZSJcLPNpe"
                    ><i class="uil uil-play"></i> Go to
                  </a></span
                >
                <span class="data-list"
                  ><a
                    href="api/download/fb??url=https://www.facebook.com/Animeisekai01/photos/a.586598968533592/1368611010332380/"
                    ><i class="uil uil-play"></i> Go to
                  </a></span
                >
                <span class="data-list"
                  ><a
                    href="api/download/ig?url=https://www.instagram.com/reel/Cg4Ik0fjbac/?utm_source=ig_web_copy_link"
                    ><i class="uil uil-play"></i> Go to
                  </a></span
                >
                <span class="data-list"
                  ><a
                    href="api/download/ig2?url=https://www.instagram.com/reel/Cg4Ik0fjbac/?utm_source=ig_web_copy_link"
                    ><i class="uil uil-play"></i> Go to
                  </a></span
                >
                <span class="data-list"
                  ><a
                    href="api/download/ig3?url=https://www.instagram.com/reel/Cg4Ik0fjbac/?utm_source=ig_web_copy_link"
                    ><i class="uil uil-play"></i> Go to
                  </a></span
                >
                <span class="data-list"
                  ><a
                    href="api/download/savefrom?url=https://www.instagram.com/reel/Cg4Ik0fjbac/?utm_source=ig_web_copy_link"
                    ><i class="uil uil-play"></i> Go to
                  </a></span
                >
                <span class="data-list"
                  ><a
                    href="api/download/mediafire?url=https://www.mediafire.com/file/pwxob70rpgma9lz/GBWhatsApp_v8.75%2528Tutorial_Yud%2529.apk/file"
                    ><i class="uil uil-play"></i> Go to
                  </a></span
                >
              </div>
              <div class="data status">
                <span class="data-title">Status</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
              </div>
            </div>
          </div>
          <div class="activity" id="information">
            <div class="title">
              <i class="uil uil-info"></i>
              <span class="text">Information</span>
            </div>

            <div class="activity-data">
              <div class="data names">
                <span class="data-title">Name</span>
                <span class="data-list">Prem Shahi</span>
                <span class="data-list">Deepa Chand</span>
                <span class="data-list">Manisha Chand</span>
                <span class="data-list">Pratima Shahi</span>
                <span class="data-list">Man Shahi</span>
                <span class="data-list">Ganesh Chand</span>
                <span class="data-list">Bikash Chand</span>
              </div>
              <div class="data path">
                <span class="data-title">Path</span>
                <span class="data-list">premshahi@gmail.com</span>
                <span class="data-list">deepachand@gmail.com</span>
                <span class="data-list">prakashhai@gmail.com</span>
                <span class="data-list">manishachand@gmail.com</span>
                <span class="data-list">pratimashhai@gmail.com</span>
                <span class="data-list">manshahi@gmail.com</span>
                <span class="data-list">ganeshchand@gmail.com</span>
              </div>
              <div class="data Added">
                <span class="data-title">Method</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
              </div>
              <div class="data action" id="Action">
                <span class="data-title">Action</span>
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
              </div>
              <div class="data status">
                <span class="data-title">Status</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
              </div>
            </div>
          </div>
          <div class="activity" id="nsfw">
            <div class="title">
              <i class="uil uil-18-plus"></i>
              <span class="text">Nsfw</span>
            </div>

            <div class="activity-data">
              <div class="data names">
                <span class="data-title">Name</span>
                <span class="data-list">hololive</span>
                <span class="data-list">fgo</span>
                <span class="data-list">genshin</span>
                <span class="data-list">azurlane</span>
                <span class="data-list">arknights</span>
                <span class="data-list">fireemblem</span>
                <span class="data-list">girlfrontline</span>
                <span class="data-list">kancolle</span>
                <span class="data-list">rule34</span>
              </div>
              <div class="data path">
                <span class="data-title">Path</span>
                <span class="data-list">api/h/hololive</span>
                <span class="data-list">api/h/fgo</span>
                <span class="data-list">api/h/genshin</span>
                <span class="data-list">api/h/azurlane</span>
                <span class="data-list">api/h/arknights</span>
                <span class="data-list">api/h/fireemblem</span>
                <span class="data-list">api/h/girlfrontline</span>
                <span class="data-list">api/h/kancolle</span>
                <span class="data-list">api/h/rule34</span>
              </div>
              <div class="data Added">
                <span class="data-title">Added</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
              </div>
              <div class="data action">
                <span class="data-title">Action</span>
                <span class="data-list"
                  ><a href="api/h/hololive"
                    ><i class="uil uil-play"></i> Go to
                  </a></span
                >
                <span class="data-list"
                  ><a href="api/h/fgo"
                    ><i class="uil uil-play"></i> Go to
                  </a></span
                >
                <span class="data-list"
                  ><a href="api/h/genshin"
                    ><i class="uil uil-play"></i> Go to
                  </a></span
                >
                <span class="data-list"
                  ><a href="api/h/azurlane"
                    ><i class="uil uil-play"></i> Go to
                  </a></span
                >
                <span class="data-list"
                  ><a href="api/h/arknights"
                    ><i class="uil uil-play"></i> Go to
                  </a></span
                >
                <span class="data-list"
                  ><a href="api/h/fireemblem"
                    ><i class="uil uil-play"></i> Go to
                  </a></span
                >
                <span class="data-list"
                  ><a href="api/h/girlfrontline"
                    ><i class="uil uil-play"></i> Go to
                  </a></span
                >
                <span class="data-list"
                  ><a href="api/h/kancolle"
                    ><i class="uil uil-play"></i> Go to
                  </a></span
                >
                <span class="data-list"
                  ><a href="api/h/rule34?q=futa"
                    ><i class="uil uil-play"></i> Go to
                  </a></span
                >
              </div>
              <div class="data status">
                <span class="data-title">Status</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
              </div>
            </div>
          </div>
          <div class="activity" id="canvas">
            <div class="title">
              <i class="uil uil-paint-tool"></i>
              <span class="text">Canvas</span>
            </div>

            <div class="activity-data">
              <div class="data names">
                <span class="data-title">Name</span>
                <span class="data-list">Prem Shahi</span>
                <span class="data-list">Deepa Chand</span>
                <span class="data-list">Manisha Chand</span>
                <span class="data-list">Pratima Shahi</span>
                <span class="data-list">Man Shahi</span>
                <span class="data-list">Ganesh Chand</span>
                <span class="data-list">Bikash Chand</span>
              </div>
              <div class="data path">
                <span class="data-title">Path</span>
                <span class="data-list">premshahi@gmail.com</span>
                <span class="data-list">deepachand@gmail.com</span>
                <span class="data-list">prakashhai@gmail.com</span>
                <span class="data-list">manishachand@gmail.com</span>
                <span class="data-list">pratimashhai@gmail.com</span>
                <span class="data-list">manshahi@gmail.com</span>
                <span class="data-list">ganeshchand@gmail.com</span>
              </div>
              <div class="data Added">
                <span class="data-title">Added</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
              </div>
              <div class="data action">
                <span class="data-title">Action</span>
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
              </div>
              <div class="data status">
                <span class="data-title">Status</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
              </div>
            </div>
          </div>
          <div class="activity" id="textmaker">
            <div class="title">
              <i class="uil uil-text"></i>
              <span class="text">Text Maker</span>
            </div>

            <div class="activity-data">
              <div class="data names">
                <span class="data-title">Name</span>
                <span class="data-list">Prem Shahi</span>
                <span class="data-list">Deepa Chand</span>
                <span class="data-list">Manisha Chand</span>
                <span class="data-list">Pratima Shahi</span>
                <span class="data-list">Man Shahi</span>
                <span class="data-list">Ganesh Chand</span>
                <span class="data-list">Bikash Chand</span>
              </div>
              <div class="data path">
                <span class="data-title">Path</span>
                <span class="data-list">premshahi@gmail.com</span>
                <span class="data-list">deepachand@gmail.com</span>
                <span class="data-list">prakashhai@gmail.com</span>
                <span class="data-list">manishachand@gmail.com</span>
                <span class="data-list">pratimashhai@gmail.com</span>
                <span class="data-list">manshahi@gmail.com</span>
                <span class="data-list">ganeshchand@gmail.com</span>
              </div>
              <div class="data Added">
                <span class="data-title">Added</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
              </div>
              <div class="data action">
                <span class="data-title">Action</span>
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
              </div>
              <div class="data status">
                <span class="data-title">Status</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
              </div>
            </div>
          </div>
          <div class="activity" id="randomimage">
            <div class="title">
              <i class="uil uil-image"></i>
              <span class="text">Random Image</span>
            </div>

            <div class="activity-data">
              <div class="data names">
                <span class="data-title">Name</span>
                <span class="data-list">Prem Shahi</span>
                <span class="data-list">Deepa Chand</span>
                <span class="data-list">Manisha Chand</span>
                <span class="data-list">Pratima Shahi</span>
                <span class="data-list">Man Shahi</span>
                <span class="data-list">Ganesh Chand</span>
                <span class="data-list">Bikash Chand</span>
              </div>
              <div class="data path">
                <span class="data-title">Path</span>
                <span class="data-list">premshahi@gmail.com</span>
                <span class="data-list">deepachand@gmail.com</span>
                <span class="data-list">prakashhai@gmail.com</span>
                <span class="data-list">manishachand@gmail.com</span>
                <span class="data-list">pratimashhai@gmail.com</span>
                <span class="data-list">manshahi@gmail.com</span>
                <span class="data-list">ganeshchand@gmail.com</span>
              </div>
              <div class="data Added">
                <span class="data-title">Added</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
              </div>
              <div class="data action">
                <span class="data-title">Action</span>
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
              </div>
              <div class="data status">
                <span class="data-title">Status</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
              </div>
            </div>
          </div>
          <div class="activity" id="randomvideo">
            <div class="title">
              <i class="uil uil-video"></i>
              <span class="text">Random Video</span>
            </div>

            <div class="activity-data">
              <div class="data names">
                <span class="data-title">Name</span>
                <span class="data-list">Prem Shahi</span>
                <span class="data-list">Deepa Chand</span>
                <span class="data-list">Manisha Chand</span>
                <span class="data-list">Pratima Shahi</span>
                <span class="data-list">Man Shahi</span>
                <span class="data-list">Ganesh Chand</span>
                <span class="data-list">Bikash Chand</span>
              </div>
              <div class="data path">
                <span class="data-title">Path</span>
                <span class="data-list">premshahi@gmail.com</span>
                <span class="data-list">deepachand@gmail.com</span>
                <span class="data-list">prakashhai@gmail.com</span>
                <span class="data-list">manishachand@gmail.com</span>
                <span class="data-list">pratimashhai@gmail.com</span>
                <span class="data-list">manshahi@gmail.com</span>
                <span class="data-list">ganeshchand@gmail.com</span>
              </div>
              <div class="data Added">
                <span class="data-title">Added</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
                <span class="data-list">Get</span>
              </div>
              <div class="data action">
                <span class="data-title">Action</span>
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
                <span class="data-list"
                  ><a href=""><i class="uil uil-play"></i> Go to </a></span
                >
              </div>
              <div class="data status">
                <span class="data-title">Status</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
                <span class="data-list">Online</span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </body>
  </body>
</html>
