<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Short url</title>
    <link rel="stylesheet" href="css/short.css" />
    <!-- <link
      rel="shortcut icon"
      href="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/344/external-url-gdpr-flaticons-lineal-color-flat-icons.png"
      type="image/x-icon"
    /> -->
  </head>
  <body>
    <div class="card dark">
      <div class="search">
        <input type="text" class="search-bar" placeholder="Masukan url" />
        <button class="short-button">
          <img src="assets/scissors.svg" alt="short" />
        </button>
      </div>
      <div class="link hide">
        <a href="" class="short"></a>
      </div>
    </div>
    <script defer src="js/short.js"></script>
  </body>
 
</html>
 